<script>
$(document).ready(function() {
  getPresets();

  setTimeout(function() {
    $(".table-click td").on('click', function() {
      $(".table-click").each(function() {
        $(this).removeClass("table-info")
        $(this).addClass("table-light")
      })
      $(this).parent().removeClass("table-light")
      $(this).parent().addClass("table-info")

      jsonstr = JSON.parse($(this).attr("string").replace(/'/g, '"'))
      $("#editor-form").find(".form-control").val(null)
      $("#editor-form").find("input[type='checkbox']").bootstrapToggle('off', false)
      for (var entry in jsonstr) {
        if ($("#editor-form").find("#" + entry + "-field").attr("type") == "checkbox") {
          if (jsonstr[entry]) {
            $("#editor-form").find("#" + entry + "-field").bootstrapToggle('on', false)
          } else {
            $("#editor-form").find("#" + entry + "-field").bootstrapToggle('off', false)
          }
        } else {
          $("#editor-form").find("#" + entry + "-field").val(jsonstr[entry])
        }
      }

      $("#preset-name").val($(this).attr("preset"))
    })
  }, 500)
})

function getConfigXML(presets) {
    const req_data = {
        return_type: "text/xml"
    }

    post_webserver(req_data, (data) => {
        _arg_data = data.configurations.arguments.argument

        findAllElements(_arg_data, "type", "str").forEach(function(item) {
          if (item["attr_disallow-editor"] != "yes") {
            _description = item.description
            if (typeof(item.description) == "object") {
              _description = item.description.tl
            }
            html = '<div class="form-group"><label for="' + item.attr_name + '-field" class="col-form-label">' + _description + ' <small class="form-text text-muted">' + item.attr_name + '</small></label><input type="text" id="' + item.attr_name + '-field" class="form-control" placeholder="' + item.placeholder + '"></div>'
            $("#editor-form").append(html)
          }
        })

        findAllElements(_arg_data, "type", "int").forEach(function(item) {
          if (item["attr_disallow-editor"] != "yes") {
            _description = item.description
            if (typeof(item.description) == "object") {
              _description = item.description.tl
            }
            html = '<div class="form-group row"><label for="' + item.attr_name + '-field" class="col-sm-9 col-form-label">' + _description + '</label><div class="col-sm-3"><input type="number" id="' + item.attr_name + '-field" class="form-control" placeholder="' + item.default + '"><small class="form-text text-muted">' + item.attr_name + '</small></div></div>'
            $("#editor-form").append(html)
          }
        })

        $("#editor-form").append("<hr>")
        html = "<h4><%=gt.gettext('Device types')%> </h4><small class='text-muted'><%=gt.gettext('_text2')%></small>"
        for (var preset in presets["devices"]) {
          name = presets["devices"][preset]
          html += '<div class="form-group row"><label for="' + name + '-field" class="col-sm-4 col-form-label">' + name + '</label><div class="col-sm-8"><input type="text" id="' + name + '-field" class="form-control"></div></div>'
        }
        $("#editor-form").append(html + "<hr>")

        findAllElements(_arg_data, "type", "bool").forEach(function(item) {
          if (item["attr_disallow-editor"] != "yes") {
            _description = item.description
            if (typeof(item.description) == "object") {
              _description = item.description.tl
            }
            html = '<div class="form-group row"><label for="' + item.attr_name + '-field" class="col-8 col-form-label">' + _description + ' <small class="form-text text-muted">' + item.attr_name + '</small></label><div class="col-2"><input type="checkbox" id="' + item.attr_name + '-field" default="' + item.default + '" data-onstyle="success" data-offstyle="danger" data-on="<%=gt.gettext("Yes")%>" data-off="<%=gt.gettext("No")%>"></div></div>'
            $("#editor-form").append(html)

            if (item.default == "True") {
              $("#editor-form").find("#" + item.attr_name + "-field").bootstrapToggle('on', false)
            } else {
              $("#editor-form").find("#" + item.attr_name + "-field").bootstrapToggle()
            }
          }
        })
    }, './configxml')
}

function getPresets() {
  var table = '<%=gt.gettext("No preconfigured presets found in home.ini!")%>'
  if (Array.isArray(presets["items"]) && presets["items"].length) {
    table = ""
    cnt = 0
    for (var preset in presets["items"]) {
      table += '<thead><tr><th colspan="2">' + presets["items"][preset] + '</th></tr></thead><tbody><tr class="table-light table-click"><td preset="' + presets["items"][preset] + '" string="' + presets["preset"][preset] + '" style="width:50%">' + presets["descriptions"][preset] + '</td><td preset="' + presets["items"][preset] + '" string="' + presets["preset"][preset] + '">' + generateIconLine(presets["results"][preset]) + '</td></tr></tbody>'
      cnt = cnt + 1
    }
  }

  $("#preset-table").html(table)
  $('#preset-table').find('a.page-link').on('click', function() {
    $(this).tooltip("show")
  })
  getConfigXML(presets)
}

function generatePresetString() {
  $("#record-preset").prop("disabled", true)
  $("#editor-error").hide()
  var jsonobject = {}
  $("#editor-form input[type='text']").each(function() {
    if ($(this).val() != "" && $(this).attr("id") != "preset-name") {
      val = ""
      if ($(this).val().includes(",")) {
        val = $(this).val().split(",")
      } else {
        val = $(this).val()
      }
      jsonobject[$(this).attr("id").replace("-field", "")] = val
    } 
  })

  $("#editor-form input[type='number']").each(function() {
    if ($(this).val() != "" && $(this).val() != "0") {
      jsonobject[$(this).attr("id").replace("-field", "")] = $(this).val().toString()
    }
  })

  $("#editor-form input[type='checkbox']").each(function() {
    name = $(this).attr("id")
    val = $(this).prop("checked").toString()
    if (val != $(this).attr("default").toLowerCase()) {
      jsonobject[$(this).attr("id").replace("-field", "")] = val
    }
  })

  if ($("#preset-name").val() == "") {
    $("#editor-error").html('<%=gt.gettext("You need a preset name")%>')
    $("#editor-error").show()
    $("#record-preset").prop("disabled", false)
  } else {
    $.ajax({
      type: "POST",
      url: "/query",
      dataType: "text",
      data: {
          request: "True",
          reqtype: "setpreset",
          presetname: $("#preset-name").val(),
          preset: JSON.stringify(jsonobject)
      },
      success: function(data){
        if (data == "0") {
          $("#editor-error").html('<%=gt.gettext("Preset is invalid. Check the debug file for details.")%>')
          $("#editor-error").show()      
        } else {
          setTimeout(function() {
            window.location.reload()
          }, 4000)
        }
      },
      error: function(data){
          console.log(data)
      }
    })
  }

}

</script>
<style>
.table-click {
  color: black;
  cursor: pointer;
}
</style>
<div class="modal fade" id="preseteditor" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%=gt.gettext("Presets editor")%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3><%=gt.gettext("Existing presets")%></h3>
        <table id="preset-table" class="table table-sm table-light"></table>
        <hr>
        <h3><%=gt.gettext("Edit preset")%></h3>
        <div class="form-group row">
          <label for="preset-name" class="col-sm-2 col-form-label"><%=gt.gettext("Preset name")%></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="preset-name">
          </div>
        </div>
        <div id="editor-form"></div>
        <div id="editor-error" class="alert alert-danger" style="display:none;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" id="record-preset" onclick="generatePresetString()" class="btn btn-primary"><%=gt.gettext("Save")%></button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%=gt.gettext("Close")%></button>
      </div>
    </div>
  </div>
</div>